@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  width: 100vw; /* Garante que ocupe toda a largura da tela */
  height: 650vh;
  margin: 0;
  overflow-x: hidden; /* Evita rolagem horizontal */
  background-color: rgb(0, 0, 0);
  z-index: 1;
}


/*------------------ INTRO / END ------------------------------------------------------------*/
/* Keep the logo fixed in the background */
.intro {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.intro img {
  width: 100%;
  opacity: 0; /* Initially hidden */
  transition: opacity 10s ease-in-out; /* Fade-in effect */
}

.intro img.fade-in {
  opacity: 1; /* Make the logo visible when the class is added */
}

/* Content section */
.content {
  opacity: 0;
  visibility: hidden;
  color: black;
  background-color: rgb(230, 230, 230);
  height: 100vh;
  text-align: center;
  padding-top: 20px;
  transition: opacity 0.5s ease-in-out;
}

.show-content {
  opacity: 1;
  visibility: visible;
}

#logo {
  transform-origin: center center; /* Ensure the logo scales from the center */
  transition: transform 0.2s ease-out; /* Optional: adds smooth scaling */
}

.fade-white {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(230, 230, 230);
  opacity: 0; /* Initially invisible */
  transition: opacity 0.5s ease-in-out; /* Smooth fade transition */
  pointer-events: none; /* Make sure it doesn't interfere with other interactions */
  z-index: 10;
}

/*------------------ LOGO ------------------------------------------------------------*/
.logo-container {
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 50;
}
.logo {
  width: 70px;
  height: auto;
}


/*------------------ SCROLL DOWN ------------------------------------------------------------*/
@keyframes scroll_2 {
  0%   { transform: translateY(0); opacity: 1; }
  25%  { opacity: 1; }
  75%  { transform: translateY(.75em); opacity: 0; }
  100% { transform: translateY(0); opacity: 0; }
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 0.5; }
  50% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); opacity: 0.5; }
}

.scroll-icon {
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  height: 2em;
  width: 1em;
  border: 1px solid #777777;
  border-radius: 1em;
  z-index: 20;
  opacity: .5;
  animation: pulse 2s infinite ease-in-out;
}

.scroll-icon__dot {
  display: block;
  position: absolute;
  left: 50%;
  background: #777777;
  height: .5em;
  width: .5em;
  top: .6em;
  margin-left: -.25em;
  border-radius: 50%;
  transform-origin: top center;
  backface-visibility: hidden;
  animation: scroll_2 2s ease-out infinite;
}


/*------------------ TEXTO INTERMÉDIO ------------------------------------------------------------*/
.text-line1, .text-line2 {
  position: absolute;
  font-family: 'Vina Sans', sans-serif;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
}

/* Text-line1 specific styles */
.text-line1 {
  top: 230vh; /* Adjust vertical position */
  left: 50%; /* Center horizontally */
  font-size: 2vw;
  color: #000000;
  transform: translateY(30px); /* Start from below (move up from 30px below) */
  transition-delay: 0.2s; /* Delay before starting animation */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 900;
}

/* Text-line2 specific styles */
.text-line2 {
  font-family: "Anton", sans-serif;
  top: 240vh; /* Adjust vertical positioning */
  left: 50%; /* Centers based on the viewport */
  transform: translateX(-50%) translateY(30px); /* Start from below with offset for animation */
  font-size: 5vw;
  color: #000000;
  text-align: center;
  width: 85vw; /* Ensures it adapts to text length */
  transition-delay: 0.5s; /* Delay before starting animation */
  z-index: 900;
}

/* Animation for when the text is visible */
.text-visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Reset the translate offset to move up */
}


/*------------------ SERVIÇOS ------------------------------------------------------------*/
/* Container dos serviços */
.services-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  top: 290vh;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(30px); /* Inicia um pouco abaixo */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Transição suave para aparecer */
  z-index: 10;
}

/* Torna os serviços visíveis quando a classe 'services-visible' é adicionada */
.services-visible {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para a posição normal */
}

/* Estilos dos itens de serviço */
.service-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px;
  position: relative;
  transition: transform 0.3s ease-in-out; /* Transição suave para mudança de tamanho */
}

/* Container de vídeo */
.video-container {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-in-out; /* Transição suave para o efeito de escala */
}

/* Efeito de aumento no hover do vídeo */
.video-container:hover {
  transform: scale(1.02); /* Leve aumento do container */
}

/* Vídeo dentro do container */
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 100;
}

/* Sobreposição do vídeo (overlay) */
.video-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Fundo transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  opacity: 1;  /* Opacidade total */
  z-index: 50;
}

/* Estilo do texto H1 na sobreposição */
.video-container .overlay h1 {
  font-size: 3em;  /* Tamanho do texto */
  font-weight: bold;
}

/* Sobreposição do item de serviço */
.service-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); /* Fundo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
  z-index: 100;
}

/* Estilo do texto dentro da sobreposição */
.service-overlay h1 {
  color: rgb(0, 0, 0);
  font-size: 3em;
  text-align: center;
  transition: transform 0.6s ease-in-out;
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
}

/* Efeito no hover do vídeo */
.video-container:hover .service-overlay {
  opacity: 0; /* Torna a sobreposição invisível */
}

.video-container:hover .service-overlay h1 {
  transform: translateY(100%); /* Move o título para baixo do vídeo */
}

/* Container de texto abaixo do vídeo */
.text-container {
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}

/* Conteúdo de texto */
.text-content {
  max-width: 800px;
  margin: 0 auto;
}

.text-content p {
  font-size: 1.2em;
  color: #000000;
}

/* Estilos de responsividade */
@media (max-width: 768px) {
  .services-container {
      flex-direction: column; /* Alinha os itens de serviço em coluna em telas menores */
  }

  .video-container {
      height: 40vh; /* Reduz a altura do vídeo em telas menores */
  }

  .text-container {
      padding: 15px;
  }
}

/* Descrição do serviço */
.service-item p.service-description {
  color: #000000;
  font-size: 1.8em;
  text-align: center;
  font-family: 'Anton', sans-serif;
  max-width: 90%;
  margin: 50px auto;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(20px); /* Começa um pouco abaixo */
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out; /* Transição suave para aparecer */
  text-transform: uppercase;
}

/* Exibir a descrição do serviço ao passar o mouse sobre o container do vídeo */
.video-container:hover + .service-description {
  opacity: 1; /* Torna visível */
  transform: translateY(0); /* Move para a posição normal */
}


/*------------------ TEXTO INTERMÉDIO 2------------------------------------------------------------*/
.text-line3, .text-line4 {
  position: absolute;
  font-family: 'Vina Sans', sans-serif;
  opacity: 0; /* Initially hidden */
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Smooth transition */
  z-index: 10;
}

/* Text-line1 specific styles */
.text-line3 {
  top: 390vh; /* Adjust vertical position */
  left: 50%; /* Center horizontally */
  font-size: 2vw;
  color: #000000;
  transform: translateY(30px); /* Start from below (move up from 30px below) */
  transition-delay: 0.2s; /* Delay before starting animation */
  transform: translateX(-50%); /* Center horizontally */
  z-index: 10;
}

/* Text-line2 specific styles */
.text-line4 {
  font-family: "Anton", sans-serif;
  top: 400vh; /* Adjust vertical positioning */
  left: 50%; /* Centers based on the viewport */
  transform: translateX(-50%) translateY(30px); /* Start from below with offset for animation */
  font-size: 5vw;
  color: #000000;
  text-align: center;
  width: 85vw; /* Ensures it adapts to text length */
  transition-delay: 0.5s; /* Delay before starting animation */
}

/* Animation for when the text is visible */
.text-visible {
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Reset the translate offset to move up */
}


/*------------------ BARRA FILTRO ------------------------------------------------------------*/
.filter-bar {
  text-align: center;
  margin-bottom: 20px;
  position: absolute;
  top: 440vh; /* Adjust as needed */
  width: 100%;
  z-index: 101;
}
.filter-btn {
  background: none;
  border: 1px solid rgba(255, 0, 0, 0);
  color: rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  margin: 0 30px; /* Change the gap between the buttons */
  cursor: pointer;
  font-size: 1.3em;
  transition: all 0.3s ease;
  font-family: 'Quicksand', sans-serif;
}
.filter-btn:hover, .filter-btn.active {
  background: rgba(255, 255, 255, 0);
  color: rgb(0, 0, 0);
}


/*------------------ LISTA DE PROJECTOS------------------------------------------------------------*/
.container {
  position: absolute;
  top: 450vh;
  width: 90%;
  z-index: 100;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  visibility: hidden;
}

.gallery-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.gallery-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.item {
  flex: 1 1 300px; /* Tamanho base e flexibilidade */
  height: 600px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: flex 0.5s ease; /* Remove a transição de filtro */
  position: relative;
  text-decoration: none;
}

.item:hover {
  flex: 2 1 700px; 
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding-bottom: 20px;
  text-align: center;
}

.item:hover .overlay {
  opacity: 1;
}

h1 {
  position: relative;
  left: 10px;
  margin-bottom: 0px;
  font-family: "Anton", sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  color: white;
  text-align: left;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.overlay p {
  font-size: 1em;
  left: 10px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 0px;
  text-align: left;
}


/*------------------ CONTACT ------------------------------------------------------------*/
.contact-container {
  position: absolute;
  width: 500px; /* Set fixed width */
  max-width: none; /* Remove max-width restriction */
  height: 440px; /* Set fixed height */
  bottom: -545vh;
  left: 20em;
  transform: translateX(-50%); /* Center the form horizontally */
  padding: 20px;
  border-radius: 8px;
  text-align: left;
  z-index: 50;
  background-color: rgba(255, 0, 0, 0); /* Optional: background color for contrast */
  overflow: hidden; /* Prevent the content from overflowing */
  resize: none; /* Disable resizing */
}

.contact-container h2 {
  font-size: 5em;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: "Anton", sans-serif;
  color: #ffffff;
  text-align: left;
}

/* Input container style */
.input-container {
  margin-bottom: 15px;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #dddddd48;
  border-radius: 4px;
  font-size: 1em;
  box-sizing: border-box;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  background-color: rgba(255, 0, 0, 0);
  transition: border-color 0.3s ease;
  resize: none; /* Disable resizing */
}

input:focus, textarea:focus {
  border-color: #ffffff;
  outline: none;
}

/* Send button style */
.send-button {
  padding: 10px 10px;
  font-family: 'Quicksand', sans-serif;
  background-color: #000000;
  color: white;
  font-size: 1em;
  border: 1px solid #ffffff48;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: rgba(255, 255, 255, .3);
}


/*------------------ SOCIAL MEDIA ------------------------------------------------------------*/
.social-media-container {
  position: absolute;
  bottom: -545vh;
  right: 4em;
  display: flex;
  gap: 20px;  /* Space between icons */
  z-index: 100;
}

.social-icon img {
  width: 45px;  /* Adjust icon size */
  height: auto;
  transition: transform 0.3s ease;  /* Smooth transition */
  outline: 1px solid rgb(255, 255, 255);
  border-radius: 50%; /* Makes the icons circular */
}

.social-icon img:hover {
  transform: scale(1.3);  /* Slight zoom on hover */
}
