@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

/* Add this to your existing CSS */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(230, 230, 230) 20%; /* O fundo final após a animação */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;

  /* Hide scrollbar for Chrome, Safari, and Edge */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}


/*------------------------------ BACKGROUND ---------------------------------------------------------------------------------------------------*/
.background-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgb(179, 179, 179) 10%, rgb(230, 230, 230)); /* Fundo inicial azul e branco */
  transform: translateY(0); /* Começa com o fundo na posição normal */
  transition: transform 1s ease-in-out; /* Transição suave quando o fundo se mover */
}

.background-overlay.up {
  transform: translateY(-100%); /* Quando a classe 'up' for adicionada, o fundo sobe */
}

/*------------------------------ JANELA MODELO ---------------------------------------------------------------------------------------------------*/
model-viewer {
    width: 100%;
    height: 100%;
    z-index: 10;
}

/*------------------------------ LOGO - VOLTA MAIN PAGE --------------------------------------------------------- */
.back-button {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 20;
    width: 70px; /* Adjust logo size */
    height: auto;
}


/*------------------------------ BOTÃO REALIDADE AUMENTADA --------------------------------------------------------*/
.ar-button {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 200; /* Ensure the button stays on top */
  opacity: 1; /* Always visible */
  transition: opacity 0.3s ease;
}

.ar-button img {
  width: 35px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Style for the AR button */
.ar-qr-button {
  position: fixed;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 100; /* Ensure the button stays on top */
  opacity: 1; /* Always visible */
  transition: opacity 0.3s ease;
}

/* Style for the image inside the button */
.ar-qr-button img {
  width: 35px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Position the QR code container */
#qr-code-container {
  display: none; /* Initially hidden */
  position: fixed; /* Fixed positioning */
  top: 50px; /* 50px from the top */
  right: 30px; /* 30px from the right */
  z-index: 9999; /* Ensure it's on top of other elements */
  text-align: center;
}

/* Style for QR code itself */
#qr-code {
  margin: 20px auto;
}


/*-------------------------- TROCAR MATERIAIS ----------------------------------------------------------------------*/
#material-change-container {
  margin-top: 20px;
  display: none;
  flex-direction: row !important;
  gap: 100px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
  position: fixed;
  bottom: 40px;
  left: 30%;
  z-index: 100;
}

.texture-group {
  display: flex;
  flex-direction: row !important;
  gap: 15px;
  justify-content: flex-start;
}

.change-texture {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 1px solid rgba(124, 124, 124, 0.5);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.change-texture:hover {
  transform: scale(1.2);
}

.change-texture.selected {
  transform: scale(1.2); /* Keep the same style for the selected button */
}

.texture-preview {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

#material-name {
  font-size: 20px;
  transition: opacity 0.3s ease-in-out;
  margin-bottom: 10px;
  font-family: 'Quicksand', sans-serif;
  color: rgba(0, 0, 0, 0.5);
}

/* New style for displaying material name with two parts */
.material-name {
  display: flex;
  align-items: center;
}

.material-type {
  font-weight: bold;
  color: #000;
  margin-right: 5px; /* Space between 'WOOD' and '| OILED OAK' */
}

.material-subtype {
  color: #777; /* Lighter color for the second part */
}



/*-------------------------- HOTSPOTS --------------------------------------------------------------------------------*/
/* Hotspot */
.Hotspot {
  background: transparent;
  border-radius: 32px;
  border: 2px solid #ffffff8f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: opacity 0.3s ease-out;
}


/* Make the icon inside scale properly */
.Hotspot > img {
  width: 70%;
  height: 70%;
  object-fit: contain; /* Keeps aspect ratio */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Focus effect */
.Hotspot:focus {
  border: 3px solid rgb(255, 255, 255);
  height: 40px;
  width: 40px;
  outline: none;
}





/*-------------------------- MEDIDAS ------------------------------------------------------------------------------------*/
#dimensionsGroup {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.dim {
  border-radius: 8px;
  border: none;
  background: #00000000;
  color: #00000070;
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  max-width: 128px;
  text-align: center;
  overflow-wrap: break-word;
  padding: 0.6em 1.2em;
  position: absolute;
  width: max-content;
  height: max-content;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  --min-hotspot-opacity: 0;
  transition: all 0.3s ease-in-out;
}

.dimensionLineContainer {
  pointer-events: none;
  display: block;
}

.dimensionLine {
  stroke: #00000070;
  stroke-width: 2.5;
  stroke-dasharray: 4;
  transition: stroke-width 0.2s ease-in-out;
}

.hide {
  display: none;
}
